.sidebar{
    width: 350px;
    height: 100vh;
    /* border: 5px solid green; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: right;
    float: right;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px black;
    position: fixed;
   
    margin-bottom: 15%;
}
.delete p{
    float: right;
}
.pgr{
    width: 100%;
    background-color: gray;
    margin-bottom: 10%;
    margin-top: 5%;
   
}
.pgrd{
    width: 100%;
    background-color: gray;
    margin-bottom: 5%;
    height: 0.5px;
}
.uldata{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-size: 20px;
    text-align: left;
    margin-top: 0;
    margin-left: 6%;
}
.uldata li{
    margin-bottom: 1%;
}